.header{
    display:flex;
    justify-content: space-between;
    border: 1px solid  black;
}

.logo{
    width:150px;
}
.res-image{
    width:100%;
    height: 45%;
}
.nav-items{

}

.res-card{
    width:200px;
    background-color: #f0f0f0;
    padding: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.search{
    padding: 10px;

}

.nav-items ul{
    font-size: 25px;
    display: flex;
    list-style: none;
    padding: 0px 20px;
}

.nav-items > ul > li{
    padding:10px;
    margin:10px;

}

.filter-btn{
    margin:10px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
    margin: 20px;
}

.login-btn{
    padding: 0 20px ;
    cursor: pointer;
}

.filter{
    display: flex;
    
}